<%- include('../Includes/begin.ejs') %>
<%- include('../Includes/navbar.ejs') %>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-sm p-4 mb-5 bg-white rounded">
                <div class="forgot p-3 text-center">
                    <h2 class="h4" style="font-size: 1.25rem;">Forgot your password?</h2>
                    <p class="text-muted" style="font-size: 0.95rem;">Change your password in three easy steps. This will help you secure your account!</p>
                    <ol class="list-unstyled" style="font-size: 0.95rem;">
                        <li><span class="text-primary font-weight-bold">1. </span>Enter your email address below.</li>
                        <li><span class="text-primary font-weight-bold">2. </span>Our system will send you a temporary link.</li>
                        <li><span class="text-primary font-weight-bold">3. </span>Use the link to reset your password.</li>
                    </ol>
                </div>

                <%- include('../Includes/messages') %>

                <form class="card" role="form" method="POST" action="/admin/forgot-password?_method=PUT">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email-for-pass" style="font-size: 0.9rem;">Enter your email address</label>
                            <input class="form-control" type="email" name="email" id="email" required style="font-size: 0.95rem;">
                            <small class="form-text text-muted" style="font-size: 0.85rem;">Enter the email address you used during registration. We'll email a link to this address.</small>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit" style="font-size: 0.95rem;">Get New Password</button>
                </form>
                <hr>
                <div class="text-center">
                    <button class="btn btn-outline-secondary" onclick="location.href = '/admin/login'" style="font-size: 0.9rem;">Back to Login</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../Includes/end.ejs') %>
