<div id="navbar-wrapper" style="position: fixed;" >
    <nav class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>Sahyadri college of Engineering and management</b></a>
            </div>
        </div>
    </nav>
</div>