<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahyadri College of Engineering and Management</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-pzjw8f+ua7Kw1TIq0lF1+9Yj6dd7Q0hwoxzRRjt3OTdjlIhVf2X9sVBGQkhmU9Qz" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/student-dashboard.css">
    <link rel="stylesheet" href="../CSS/student-profile.css">
</head>

<body>

    <div id="navbar-wrapper" style="position: fixed; width: 100%; z-index: 10;">
        <!-- Navbar is removed per request -->
    </div>

    <section id="content-wrapper" class="mt-5 pt-5">
        <main role="main" class="main">
            <div class="header text-center mb-5">
                <h1 class="display-4 text-primary">WELCOME TO SAHYADRI COLLEGE OF ENGINEERING AND MANAGEMENT <span
                        style="color: #004d99;">COLLEGE SYSTEM</span></h1>
            </div>

            <hr>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="card shadow-lg p-4">
                            <h2 class="text-center mb-4"><i class="fas fa-sign-in-alt"></i> LOGIN</h2>
                            <!-- Login buttons for homepage -->
                            <button class="btn btn-success btn-block mb-4" style="padding: 12px 20px;" onclick="location.href = '/admin/login'">
                                ADMIN LOGIN
                            </button>
                            <button class="btn btn-danger btn-block mb-4" style="padding: 12px 20px;" onclick="location.href = '/staff/login'">
                                STAFF LOGIN
                            </button>
                            <button class="btn btn-success btn-block" style="padding: 12px 20px;" onclick="location.href = '/student/login'">
                                STUDENT LOGIN
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>
