<%- include('../Includes/begin.ejs') %>
<%- include('../Includes/navbar.ejs') %>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="text-center mb-4">Forgot Your Password?</h2>
                    <p class="text-muted text-center mb-4">Change your password in three easy steps. This will help you secure your account!</p>
                    <ol class="list-unstyled mb-4">
                        <li><span class="text-primary font-weight-bold">1. </span>Enter your email address below.</li>
                        <li><span class="text-primary font-weight-bold">2. </span>We will send you a temporary link.</li>
                        <li><span class="text-primary font-weight-bold">3. </span>Use the link to reset your password.</li>
                    </ol>
                    
                    <%- include('../Includes/messages') %>

                    <!-- Forgot password form -->
                    <form method="POST" action="/student/forgot-password?_method=PUT">
                        <div class="form-group">
                            <label for="email" class="font-weight-semibold">Enter Your Email Address</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <small class="form-text text-muted">Enter the email address you used during registration. We will send a link to reset your password.</small>
                        </div>

                        <button class="btn btn-primary btn-block mt-3" type="submit">Get New Password</button>
                    </form>

                    <hr>

                    <div class="text-center">
                        <button class="btn btn-danger" onclick="location.href = '/student/login'">Back to Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../Includes/end.ejs') %>
